Dockerfile
.gitignore
.dockerignore
.git
README.md
mongodb
mongodb/*
docker-compose.yml
license
.terraform/plugins/linux_amd64
.terraform
.terraform/*
aws-k8s-replication.yml
k8s-node-todo.yml
terraform.tfstate
terraform.tfstat.backup
deploy.tf
Jenkinsfile
